<app-navbar></app-navbar>
<div class="container-xl">
  <table class="table">
    <thead>
      <th>Completed</th>
      <th>Title</th>
      <th>Tag</th>
      <th>Assigned</th>
      <th>Tasks</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Files</th>
      <th>Start</th>
      <th>Due</th>
    </thead>
    <tbody>
      <tr *ngFor="let project of projectsList">
        <td><input type="checkbox"></td>
        <td>{{project.title}}</td>
        <td [ngSwitch]="project.tag">
          <span *ngSwitchCase="'Marketing'" class="badge rounded-pill text-bg-success">{{project.tag}}</span>
          <span *ngSwitchCase="'Development'" class="badge rounded-pill text-bg-danger">{{project.tag}}</span>
          <span *ngSwitchDefault class="badge rounded-pill text-bg-secondary">{{project.tag}}</span>
        </td>
        <td><span class="badge rounded-pill text-bg-secondary" *ngFor="let user of project.assigned">{{user.firstName}}</span></td>
        <td>{{project.tasks.length}}</td>
        <td>{{project.status}}</td>
        <td>{{project.priority}}</td>
        <td>{{project.files.length}}</td>
        <td>{{project.startDate}}</td>
        <td>{{project.dueDate}}</td>
      </tr>
    </tbody>
    
  </table>
  
</div>


<router-outlet></router-outlet>
